ul { padding: 0; margin: 0; list-style: none; }
img { display: block; width: 100%; border: none; }
a { text-decoration: none; color: inherit; display: block;font-family: 'Arimo', sans-serif; text-transform: uppercase;}
section { position: relative; }
* { box-sizing: border-box; }
*:focus { outline: none; }
.conteRight { width: 50%; float: right; }
.conteLeft { width: 50%; float: left; }
.contenedor { width: 1200px; margin: 0px auto; position: relative; }
p { -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; margin: 0 0 10px; font-size: 18px; line-height: 31px; }

/*********************** CLEAR ***********************/
.clear { clear: both; height: 0px; }
.clear5 { clear: both; height: 5px; }
.clear10 { clear: both; height: 10px; }
.clear15 { clear: both; height: 15px; }
.clear20 { clear: both; height: 20px; }
.clear30 { clear: both; height: 30px; }
.clear40 { clear: both; height: 40px; }


/*********************** COLUMNAS ***********************/
.col2 li { float: left; width: 50%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col3 li { float: left; width: 33.33%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col4 li { float: left; width: 25%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col5 li { float: left; width: 20%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col6 li { float: left; width: 16.66%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col7 li { float: left; width: 14.28%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col8 li { float: left; width: 12.5%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }
.col9 li { float: left; width: 11%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; position: relative; }


@media screen and (min-width: 480px) and (max-width: 599px) {

}

@media screen and (min-width: 600px) and (max-width: 1023px) {

}
@media screen and (min-width: 1024px) and (max-width: 1439px) {

}


@media (min-width: 1440px){

}
