.Menu{background: none;position: fixed;width: 180px; height: 100%;top: 0; left: 0; z-index: 999;}
.Menu li {padding: 20px ; height: 200px;}
.Menu i{font-size: 30px;}

.Menu li a{color: #000;font-size: 20px;font-weight: 600;}
.Menu .carrito{width: 60px;margin: 0 auto; margin-top: -35px;}
.Menu .BadgeCarrito{    margin-bottom: -15px;margin-left: 30px; width: 35px;height: 35px;color: #FFF;font-size: 20px;position: relative;background-color: #E67B7B;border-radius: 30px;text-align: center;}

.Menu .BadgeCarrito p{ padding-top: 3px; font-size: 17px;}


.Menu li a:after {display:block;content: '';border-bottom: solid 3px #BF0D0D;transform: scaleX(0);transition: transform 250ms ease-in-out;}
.Menu li a:hover:after { transform: scaleX(1); }

.Menu li i:after {display:block;content: '';border-width: 80px ;border-bottom: solid 3px #BF0D0D;transform: scaleX(0);transition: transform 250ms ease-in-out;}
.Menu li i:hover:after { transform: scaleX(1); }
