
.Slider .MayorEdadDimmer{display: none;width: 100%;position: fixed;height: 100vh;z-index: 9999;background-color: #000;}
.Slider .MayorEdadDimmer.activo{display: block;width: 100%;position: fixed;height: 100vh;z-index: 9999;background-color: #000;}
.Slider .MayorEdadDimmer .contentIzquierdoEdad{width: 60%;position: absolute;z-index: 9999;top: 30%;left: 55%;transform: translate(-50%, -50%);}
.Slider .MayorEdadDimmer .imgContentEdad{width: 50%;height: 100%;background-image: url('/imgs/MayorEdad.jpg');background-repeat: no-repeat;background-position: center;background-size: cover;}
.Slider .MayorEdadDimmer .contentIzquierdoEdad h1{font-size: 7vw}
.Slider .MayorEdadDimmer .contentIzquierdoEdad span.whiteText{color: white}
.Slider .MayorEdadDimmer .contentIzquierdoEdad span.blackText{color: black}
.Slider .MayorEdadDimmer .contentIzquierdoEdad .btnEdad{display: flex;width: 50%; position: absolute;left: 45%;transform: translateX(-50%);}
.Slider .MayorEdadDimmer .contentIzquierdoEdad .btnEdad .btnSi{cursor: pointer;background-color: #000;font-weight: 700;color: #fff;font-size: 3vw;width: 40%;padding: 5px;border-radius: 10px;margin: 10px}
.Slider .MayorEdadDimmer .contentIzquierdoEdad .btnEdad .btnSi:hover{background-color: #fff;color: #000;-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.Slider .MayorEdadDimmer .contentIzquierdoEdad .btnEdad .btnNo{cursor: pointer;background-color: #fff;font-weight: 700;color: #000;font-size: 3vw;width: 40%;padding: 5px;border-radius: 10px;margin: 10px}
.Slider .MayorEdadDimmer .contentIzquierdoEdad .btnEdad .btnNo:hover{background-color: #000;color: #fff;-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}

.Slider #videoBG{ width:100%; background:#ccc;}
.Slider .filterBlack{filter: grayscale(50%) brightness(66%);-webkit-filter: grayscale(50%) brightness(66%);}
.Slider .seccion1 .redesSociales{  position: absolute;width: 50px;top: 90px;right: 60px;}
.Slider .seccion1 .redesSociales ul{margin-left: 0px;}
.Slider .seccion1 .redesSociales .LineUp{height: 100px;}
.Slider .seccion1 .redesSociales .LineDown{height: 200px;}
.Slider .seccion1 .redesSociales li:not(.LineDown):not(.LineUp){padding: 7px;}
.Slider .seccion1 .logo-animado{position: absolute;left: 50%;margin-left: -210px;top: 50%;margin-top: -280px;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);opacity: 1;z-index: 999;transform: scale(.8);}
.Slider .seccion1 #MouseScroll{position: absolute;left: 20px;bottom: 12%;height: 70px;width: 25px; display: none;}
svg #wheel {animation: scroll ease 2s infinite; z-index: 9999; }

.Slider .seccion1 .MouseScroll{display: inline-block;position: absolute;bottom: 20px;left: 40px;margin: auto;width: 30px;height: 58px;z-index: 10;background: url(/imgs/scrollMouse.png) no-repeat 0 0%;background-size: 1500px 58px;-moz-animation: scrolldown 2s steps(49) infinite;-webkit-animation: scrolldown 2s steps(49) infinite;animation: scrolldown 2s steps(49) infinite;-moz-transform: rotateZ(180deg);-ms-transform: rotateZ(180deg);-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);pointer-events: none;opacity: 1;-moz-transition: opacity 0.2s;-o-transition: opacity 0.2s;-webkit-transition: opacity 0.2s;transition: opacity 0.2s;}


.Slider .seccion1 .redesSociales #FacebookIcon{width: 30px;-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.Slider .seccion1 .redesSociales #FacebookIcon:hover{transform: scale(1.3); -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.Slider .seccion1 .redesSociales #InstagramIcon{width: 30px;-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.Slider .seccion1 .redesSociales #InstagramIcon:hover{transform: scale(1.3);-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.Slider .seccion1 .redesSociales #TwitterIcon{width: 30px;-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.Slider .seccion1 .redesSociales #TwitterIcon:hover{transform: scale(1.3);-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}



@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}


@keyframes scrolldown{0%{background-position:0% 0}to{background-position:100% 0}}

@media screen and (max-width: 319px) {
	.contenedor { width: 95%; }
	 .Slider .seccion1 .redesSociales #FacebookIcon{width: 20px;}
	 .Slider .seccion1 .redesSociales #InstagramIcon{width: 20px}
	 .Slider .seccion1 .redesSociales #TwitterIcon{width: 20px}
	 .Slider .seccion1 .redesSociales .LineUp{display: none;}
	 .Slider .seccion1 .logo-animado{transform: scale(.2);bottom: 70px;top: inherit;left: 45%;}
   .Slider .seccion1 .redesSociales{right: 2px;top: 10px;}

	.Slider .seccion1 .MouseScroll{transform: scale(.4);transform-origin: center;left: 10px;bottom: -15px}

}
@media screen and (min-width: 320px) and (max-width: 501px) {
	.contenedor { width: 95%; }
	.seccion1{ border: 1px solid green; }

	 .Slider .seccion1 .redesSociales #FacebookIcon{width: 20px;}
	 .Slider .seccion1 .redesSociales #InstagramIcon{width: 20px}
	 .Slider .seccion1 .redesSociales #TwitterIcon{width: 20px}
	 .Slider .seccion1 .redesSociales .LineUp{display: none;}
	 .Slider .seccion1 .logo-animado{transform: scale(.3);bottom: 130px;top: inherit;}
   .Slider .seccion1 .redesSociales{right: 20px;top: 40px;}


}

@media screen and (min-width: 502px) and (max-width: 669px) {
	.contenedor { width: 95%; }
	 .Slider .seccion1 .redesSociales #FacebookIcon{width: 30px;}
	 .Slider .seccion1 .redesSociales #InstagramIcon{width: 30px}
	 .Slider .seccion1 .redesSociales #TwitterIcon{width: 30px}
	 .Slider .seccion1 .redesSociales .LineUp{display: none;}
	 .Slider .seccion1 .logo-animado{transform: scale(.4) translateY(50%);top: 70%;}
   .Slider .seccion1 .redesSociales{right: 20px;top: 40px;}

}
@media screen and (min-width: 670px) and (max-width: 770px) {
	.Slider .seccion1 .logo-animado{transform: scale(.4) translateY(50%);top: 70%;}

	.Slider .seccion1 .redesSociales .LineUp{display: none;}

}
@media screen and (min-width: 1841px) and (max-width: 2240px){
.Slider .seccion1 .logo-animado{transform: scale(1.2);}
.Slider .seccion1 .redesSociales{right: 120px}
.Slider .seccion1 .redesSociales #FacebookIcon{width: 60px;}
.Slider .seccion1 .redesSociales #InstagramIcon{width: 60px}
.Slider .seccion1 .redesSociales #TwitterIcon{width: 60px}
.Slider .seccion1 .redesSociales .LineUp{height: 180px;}
.Slider .seccion1 .redesSociales .LineUp svg{width: 80px}

}
@media (min-width: 2241px){
.Slider .seccion1 .logo-animado{transform: scale(1.2);}
.Slider .seccion1 .redesSociales{right: 120px}
.Slider .seccion1 .redesSociales #FacebookIcon{width: 60px;}
.Slider .seccion1 .redesSociales #InstagramIcon{width: 60px}
.Slider .seccion1 .redesSociales #TwitterIcon{width: 60px}
.Slider .seccion1 .redesSociales .LineUp{height: 180px;}
.Slider .seccion1 .redesSociales .LineUp svg{width: 80px}

}
