.Terraza .LogoContainer{width: 250px; margin: 0 auto;}
.Terraza .contentOpenHouse{padding: 70px 10px;width: 330px;margin: 0 auto;margin-top: 60px;}
.Terraza .contentOpenHouse p{font-size: 100px;font-weight: 300;font-family: Abril Fatface;color: #a22f31;}
.Terraza .contentOpenHouse span{position: absolute;font-size: 60px;font-family: Latios;width: 700px;margin-top: 20px;}
.Terraza .BeerContainer{width: 300px}

.Terraza .BarraContenedor{width: 950px;position: absolute;z-index: 10;left: -350px;margin-top: 90px;height: 440px;}
.Terraza .BarraFortuna{    height: 440px;}
.Terraza .seccion1 .primer_lista li:nth-child(1) {width: 35%}
.Terraza .seccion1 .primer_lista li:nth-child(2) {width: 65%}
.Terraza .seccion1 .ContainerLeft{background-color: #f9f9f9; position: relative; top:0px; padding: 60px 0px; padding-bottom: 80px;}

.Terraza .seccion1 .ContainerLeft .ContainetTitle{font-size: 90px; position: relative; right: -305px; z-index: 10}
.Terraza .seccion1 .ContainerLeft .ContainetTitle h1{margin: 0px}
.Terraza .seccion1 .ContainerLeft .ContainetTitle h1:nth-child(2){margin-right: -195px;}
.Terraza .seccion1 .ContainerLeft .ContainetTitle span{color: white}

.Terraza .seccion1 .ContainerLeft .btnReserva {  box-shadow: inset 0 0 0 0 #8B191D;-webkit-transition: ease-out 0.4s;-moz-transition: ease-out 0.4s;transition: ease-out 0.4s;cursor:pointer;position:relative;z-index: 100 ; width: 250px;display: inline-flex;margin: 200px auto 0; padding: 10px 10px 0px 30px;background-color: black;color: #fff;}
.Terraza .seccion1 .ContainerLeft  .btnReserva:hover {box-shadow: inset 250px 0 0 0 #8B191D;}


.Terraza .seccion1 .ContainerLeft .btnReserva p{text-align: left; }
.Terraza .seccion1 .ContainerLeft .btnReserva i{margin-left: 100px;margin-top: 7px; }

.Terraza .seccion1 .TerrazaImg01{    width: 80%;margin-left: 55px;}
.Terraza .seccion1 .TerrazaImg01 img{ cursor: url('/imgs/cursor-mano.png'), auto;}

.Terraza .seccion2 {padding: 10px 100px;padding-bottom: 130px;}
.Terraza .seccion2  .TerrazaImg02 { width: 440px; margin-left: auto;margin-right: 40px;}
.Terraza .seccion2  .TerrazaImg03 { width: 440px;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}
.Terraza .seccion2  .TerrazaImg03 img{ -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}

.Terraza .seccion2  .TerrazaImg03.active::before {content: '';width: 280px;height: 270px;position: absolute;bottom: -50px;left: -50px;background-color: #bf494b;z-index: -1;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}
.Terraza .seccion2  .TerrazaImg03::before {content: '';width: 280px;height: 270px;position: absolute;bottom: 10px;left: 0px;background-color: #bf494b;z-index: -1;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}
.Terraza .seccion2  .TerrazaImg03.active::after {content: '';width: 250%;height: 2px;background-color: #bf494b;position: absolute;bottom: -20px;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}
.Terraza .seccion2  .TerrazaImg03::after {content: '';width: 0%;height: 0px;background-color: #bf494b;position: absolute;bottom: -20px;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}

.Terraza .seccion2 .LineaHorizontal {width: 400px;margin-left: auto;margin-right: 60px;margin-top: 40px;}


.Terraza .LogoContainer #LogoFortuna:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

.Terraza .LogoContainer #LogoFortuna{
  -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}


@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

@media only screen and (max-width: 600px){
  body{
    transform: scale(.67);
  }
}




::-webkit-scrollbar
{
    width: 0.5vw;  /* for vertical scrollbars */
    height: 0.5vw; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}
