.Terraza .BarraContenedor{z-index: 10;margin: 0px auto;margin-top: 40px;}
.Terraza .BarraFortuna{    height: 760px;}
.Terraza #BarraFortuna{width: 700px}
.Terraza a:hover{color:inherit;}
.Terraza .seccion1{background-color: #fff}
.Terraza .seccion1 .primer_lista li:nth-child(1) {width: 35%}
.Terraza .seccion1 .primer_lista li:nth-child(2) {width: 65%}
.Terraza .seccion1 .ContainerLeft{background-color: #f9f9f9; position: relative; top:0px; padding: 60px 0px; height: 630px;}

.Terraza .seccion1  .ContainetTitle{ position: absolute; left: -35%;top: 120px;z-index: 10}
.Terraza .seccion1  .ContainetTitle p{margin: 0px;font-size: 8.4vw;font-weight: 700;line-height: 80%;}
.Terraza .seccion1  .ContainetTitle p:nth-child(2){margin-right: -44%;}
.Terraza .seccion1  .ContainetTitle span{color: white}
.Terraza .seccion1 .ContainerLeft .btnReserva {margin-top: 30px;box-shadow: inset 0 0 0 0 #8B191D;transition: ease-out 0.4s;cursor: pointer;width: 250px;display: inline-flex;padding: 5px 0px 0px 30px;background-color: black;color: #fff;}
.Terraza .seccion1 .ContainerLeft .btnReserva.LLama i{display: none}
.Terraza .seccion1 .ContainerLeft  .btnReserva:hover {box-shadow: inset 250px 0 0 0 #8B191D;}
.Terraza .seccion1 .ContainerLeft .btnReserva p{text-align: left; }
.Terraza .seccion1 .ContainerLeft .btnReserva i{margin-left: 100px;margin-top: 7px; }
.Terraza .seccion1 .contentInfoTerraza{text-align:center;}
.Terraza .seccion1 .imgTerraza00{width: 80%;margin: 0px auto;}
.Terraza .seccion1 .TerrazaImg01{position: relative;width: 70%;margin: 0px 60px 0px auto;padding-top: 60px;}
.Terraza .seccion1 .TerrazaImg01 .btnMasInfo{ box-shadow: inset 0 0 0 0 #8B191D;transition: ease-out 0.4s;cursor: pointer;width: 250px;padding: 11px;background-color: black;color: #fff;margin: 0 auto;margin-top: 30px;font-weight: 600;position: relative;z-index: 900}
.Terraza .seccion1 .TerrazaImg01 .btnMasInfo:hover{box-shadow: inset 250px 0 0 0 #8B191D;}

.Terraza .seccion2 .bgContentBeer{ position: relative;top: -100px;}
.Terraza .seccion2 .bgContentBeer .bgBeer{width: 100%}
.Terraza .seccion2 .bgContentBeer .ContentBeerImg{width: 60%;}
.Terraza .seccion2 .bgContentBeer .tituloBeer{    width: 630px; position: absolute;top: 50%;transform: translateY(-50%);}
.Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1) {background-color: #BA2F2F;padding: 30px;font-size: 60px;font-weight: 700;color: #fff;text-align: right;}
.Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen {margin-top:10px;text-align: right;font-size: 60px;font-weight: 700;color: #2FBA64;margin-left: 190px;}
.Terraza .seccion2 .bgContentBeer .tituloBeer .span {font-weight: 700;color: #fff;line-height: 25px;text-align: center;margin: auto 0px auto auto;width: 60%;}
.Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer {width: 70%;margin: auto 0px auto auto;text-align: left;margin-top: 29px;}
.Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p {font-size: 15px;font-weight: 700;color: #fff;margin: 0px;line-height: 29px;background-color: transparent;padding: 0px;}

.Terraza .seccion3{background-color: #FAFAFA; clip-path: polygon(0% 0%, 100% 7%,100% 90%,0 100%);padding-top: 270px;margin-top: -135px;z-index: -1;padding-bottom: 130px;}
.Terraza .seccion3 .tanque{position: absolute;}
.Terraza .seccion3 .tanque.Left{left: 0px;width: 210px;top: 100px;}
.Terraza .seccion3 .tanque.Right{right: 0px}
.Terraza .seccion3 .contentIngediente{width: 80%;margin: 0px auto;text-align: center;}
.Terraza .seccion3 .contentIngediente.down{margin-top: 100px}
.Terraza .seccion3 .contentIngediente.down.levadura{margin-top: 120px}
.Terraza .contentIngediente img.iconIngrediente{width: 100px;margin: 0px auto;}
.Terraza .contentIngediente img.iconIngrediente:hover{transform: scale(1.2);transform-origin: center;cursor: pointer;}
.Terraza .contentIngediente img.iconIngrediente.lupulo{width: 80px;margin: 0px auto;}
.Terraza  img.Botella{width: 40%;margin: 0px auto;}
.Terraza .contentIngediente .contentTitulo{display: flex;justify-content: center;}
.Terraza .contentIngediente .contentTitulo img.vineta{width: 70px;padding: 20px 0px;margin: 0px 10px;}
.Terraza .contentIngediente p {font-size: 15px;line-height: 20px;padding: 0px 30px}
.Terraza .contentIngediente h3{color: #7C1D1D;font-size: 20px;font-weight: 800;}
.Terraza .verVariedades{ text-align: center;font-size: 20px;font-weight: 700;text-decoration: underline;width: 20%;margin: 0px auto;}
.Terraza .seccion4{margin-top: -70px;padding-top: 190px;padding-bottom: 100px;}
.Terraza .seccion4 img.diagonalFortuna{position: absolute;top: -30px;z-index: 10;left: 0px;}
.contentProceso.Up {display: flex;}
.contentProceso.Up img{padding: 5px}
.contentProceso.Down img{padding: 5px}
.Terraza .seccion4 .lineDown {padding: 5px}
.Terraza .seccion4 p:nth-child(1){font-size: 60px;font-weight: 700;margin-top: 50px;}
.Terraza .seccion4 span{font-size: 25px;font-weight: 600;}
.Terraza .seccion4 p.goldText{font-size: 60px;font-weight: 700;color: #AC8723;}
.Terraza .seccion4 .contentTours{-webkit-box-shadow: -3px 6px 20px 0px rgba(153,153,153,1);-moz-box-shadow: -3px 6px 20px 0px rgba(153,153,153,1);box-shadow: -3px 6px 20px 0px rgba(153,153,153,1); width: 80%;margin: 0px auto;padding: 15px;margin-top: 100px;}
.Terraza .seccion4 p{font-size: 20px;line-height: 25px; text-align: center; font-weight: 500;}
.Terraza .seccion4 .contentTours .ReservarTour{cursor: pointer;background-color:#000;color: #FFFFFF; width: 30%;padding: 10px 5px;margin: 0px auto;margin-top: 30px;}
.Terraza .seccion4 .contentTours .goldText{font-size: 20px;font-weight: 700;color: #AC8723;margin: 10px;}
.Terraza .seccion5 .TequilaBG .imgRuta.activo{ opacity: 1;display: block;animation: fadeInTequila 2s;}
.Terraza .seccion5 .TequilaBG .imgRuta.hidden{opacity: 0;display: none;animation: fadeOutTequila 3s;}
.Terraza .seccion5 .TequilaBG .mapa.activo{opacity: 1;display: block;height: 290px;clip-path: polygon(50% 0%, 0% 20%, 0% 90%, 52% 100%, 100% 90%, 100% 20%);animation: fadeInTequila 2s;}
.Terraza .seccion5 .TequilaBG .mapa.hidden{opacity: 0;display: none;animation: fadeOutTequila 3s;}

.Terraza .seccion5 .Tequilaline.Up{width: 100%;position: absolute;top: -60px;z-index: 1;-moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/}
.Terraza .seccion5 .Tequilaline.Down{width: 100%;position: absolute;bottom: -60px; z-index:1;-moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/}
.Terraza .seccion5 .titleTequila{ z-index: 2;width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-70%);text-align: center;}
.Terraza .seccion5 .titleTequila h1{font-size: 60px;font-weight: 700;color: #fff;margin-bottom: 20px}
.Terraza .seccion5 .titleTequila p{font-size: 20px;font-weight: 700;color: #fff;}
.Terraza .seccion5 .titleTequila p.verMapa {cursor: pointer;text-decoration: underline;position: relative;bottom: -50px;}
.Terraza .seccion5 .titleTequila p.verMapaRegresar {font-size: 20px;font-weight: 700;cursor: pointer;text-decoration: underline;position: relative;bottom: -120px;color: #000;}
.Terraza .seccion5 .titleTequila p.verMapa:hover{opacity: 0.5}
.Terraza .seccion5 .titleTequila p.verMapaRegresar:hover{opacity: 0.5}
.Terraza .seccion6 .contendorInstagram{width: 80%;margin: 0px auto;margin-top: 50px;}
.Terraza .seccion6 #InstagramCard {transform: scale(.8); justify-content: center;display: flex;}


ul{margin-left: 21px;padding: 0;font-size: 16px;font-weight: 300;list-style: none;}

li{padding-bottom: 8px;position: relative;}

li:before{content: 'x';position: absolute;left: -21px;opacity: .55;}

@keyframes fadeInTequila {
    from {
        opacity:0;
        display: none;
    }
    to {
        display: block;
        opacity:1;
    }
}

@keyframes fadeOutTequila {
  from {
      opacity:1;
      display: block;
  }
  to {
      display: none;
      opacity:0;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}
@media screen and (max-width: 319px) {
  .contenedor { width: 95%; border: 1px solid red}
    ul{margin-left: 0px;}
   .Terraza .seccion1 .primer_lista{display: flex;flex-direction: column;margin-left: 0px;}
   .Terraza .seccion1 .primer_lista li:nth-child(2){width: 100%;order: -1;}
   .Terraza .seccion1 .primer_lista li:nth-child(1){width: 100%;order: +1}
   .Terraza .seccion1 .TerrazaImg01 .btnMasInfo{width: 60%;font-size: 9px;padding: 5px;}
   .Terraza .seccion1 .ContainerLeft{margin-bottom: 30px;}
   .Terraza .seccion1 .ContainerLeft .btnReserva{margin: 0px auto;margin-left: inherit;bottom: 100px;}
  .Terraza .seccion1 .ContainerLeft .btnReserva p{margin: 0px;font-size: 10px;line-height: 19px}
  .Terraza .seccion1 .ContainerLeft  .btnReserva:hover {box-shadow: inset 100% 0 0 0 #8B191D;}
  .Terraza .seccion1 .ContainerLeft .btnReserva i{margin-left: 90px;margin-top: 2px; }
  .Terraza .seccion1 .ContainetTitle{left: 0px;width: 100%;color: #fff;background-color: rgba(0,0,0,0.4);padding: 10px;}
  .Terraza .seccion1 .ContainetTitle p:nth-child(2){margin: 5px auto;margin-left:0px;width: 100%;}
  .Terraza .seccion1 .ContainetTitle p{font-size: 10vw}
  .Terraza .seccion2 .bgContentBeer .tituloBeer{width: 90%;text-align: center;transform: translateY(-50%)translateX(-50%);left: 50%}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 7vw;text-align: center;padding: 4px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen{font-size: 7vw;text-align: center;margin-left: 0px;margin-top: 5px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer{margin: 0px auto;margin-top: 10px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p{font-size: 2vw;line-height: 19px}
  .Terraza .seccion1 .TerrazaImg01{width: 80%;margin: 0px auto;}
.Terraza .seccion3{padding-top: 200px}

.Terraza .seccion3 ul{margin-left: 0px}
.Terraza .seccion3 ul li{width: 100%}
.Terraza .seccion3 .contentLetf{display: flex;flex-direction: column;}
.Terraza .seccion3 .contentRigth{display: flex;flex-direction: column;}
.Terraza .seccion3 .contentIngediente{width: 90%}
.Terraza .seccion3 .contentIngediente.down{margin-top: 0px;}
.Terraza .seccion3 .contentIngediente.down.levadura{margin-top: 20px;}
.Terraza .verVariedades{width: 90%;margin: 0px auto;text-align: center;font-size: 10px;}
.Terraza .contentIngediente img.iconIngrediente{width: 50px}
.Terraza .contentIngediente img.iconIngrediente.lupulo{width: 40px}
.Terraza .contentIngediente .contentTitulo img.vineta{ width: 30px;height: 10px;padding: 0px 0px;margin: 10px 10px;}
.Terraza .contentIngediente h3{ line-height: 30px;margin: 0px 0px;font-size: 15px;}
.Terraza .contentIngediente p{font-size: 10px;line-height: 13px;}
.Terraza img.Botella{width: 30%;}
.Terraza .seccion3 .tanque.Right{bottom: 130px}
.Terraza .seccion4{padding-top: 40px;padding-bottom: 40px;}
.Terraza .seccion4 ul.col2 {display: flex;flex-direction: column-reverse;}
.Terraza .seccion4 ul.col2 li {width: 100%;}
.Terraza .seccion4 .contentTours{margin-top: 40px}
.Terraza .seccion4 p:nth-child(1){font-size: 20px;margin-top: 0px;margin: 0px}
.Terraza .seccion4 span{font-size: 12px;}
.Terraza .seccion4 p.goldText{font-size: 30px}
.Terraza .seccion4 .contentTours .goldText{font-size: 15px;margin: 5px;}
.Terraza .seccion4 .contentTours .ReservarTour{width: 80%;padding: 5px;font-size: 13px;}
.Terraza .seccion4 p{font-size: 9px;line-height: 14px;}
.Terraza .seccion4 .contentProceso.Up{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .contentProceso.Down{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .lineDown{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .contentTours .ReservarTour{width: 60%;padding: 5px;}
.Terraza .seccion5 .titleTequila{transform: translate(-50%,-50%);}
.Terraza .seccion5 .titleTequila h1{font-size: 15px;margin-bottom: 0px;}
.Terraza .seccion5 .titleTequila p{font-size: 9px;line-height: 14px;font-weight: 300;margin: 0px}
.Terraza .seccion5 .Tequilaline.Up{top: -15px}
.Terraza .seccion5 .Tequilaline.Down{bottom: -15px;}
.Terraza .seccion5 .titleTequila p.verMapa{color:#000;font-weight: 500;bottom: -20px;}
.Terraza .seccion5 .TequilaBG .mapa.activo{height: 180px;  clip-path: polygon(50% 0%, 0% 10%, 0% 90%, 52% 100%, 100% 90%, 100% 10%);}

.Terraza .seccion6 {margin-bottom: 100px}
.Terraza .seccion6 .contendorInstagram li{width: 100%;height: 350px}
.Terraza .seccion6 #InstagramCard{  transform: scale(.5) translateY(-40%);}
}

/*********************** MEDIAS QUERIES ***********************/
@media screen and (min-width: 320px) and (max-width: 501px) {
	.contenedor { width: 95%; }
    ul{margin-left: 0px;}
   .Terraza .seccion1 .primer_lista{display: flex;flex-direction: column;margin-left: 0px;}
   .Terraza .seccion1 .primer_lista li:nth-child(2){width: 100%;order: -1;}
   .Terraza .seccion1 .primer_lista li:nth-child(1){width: 100%;order: +1}
   .Terraza .seccion1 .ContainerLeft{margin-bottom: 30px; width: 90%;margin: 0px auto;}
   .Terraza .seccion1 .ContainerLeft p{font-size: 15px;line-height: 21px;}
   .Terraza .seccion1 .ContainerLeft .btnReserva{margin: 0px auto;margin-left: inherit;bottom: 100px;}
   .Terraza .seccion1 .ContainetTitle{left: 0px;width: 100%;color: #fff;background-color: rgba(0,0,0,0.4);padding: 10px;}
   .Terraza .seccion1 .ContainetTitle p:nth-child(2){margin: 5px auto;margin-left:0px;width: 100%;}
   .Terraza .seccion1 .ContainetTitle p{font-size: 10vw}
   .Terraza .seccion2 .bgContentBeer .tituloBeer{width: 90%;text-align: center;transform: translateY(-50%)translateX(-50%);left: 50%}
   .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 7vw;text-align: center;padding: 4px;}
   .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen{font-size: 7vw;text-align: center;margin-left: 0px;margin-top: 5px;margin-bottom: 0px;}
   .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer{width: 90%;margin: 0px auto;margin-top: 0px}
   .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p{font-size: 2.5vw;line-height: 12px}
   .Terraza .seccion2 .bgContentBeer .tituloBeer .span{text-align: center;margin: 0px auto;line-height: 13px;font-size: 13px;}
.Terraza .seccion1 .TerrazaImg01{width: 80%;margin: 0px auto;}
.Terraza .seccion3{padding-top: 200px}
.Terraza .seccion3 ul{margin-left: 0px}
.Terraza .seccion3 ul li{width: 100%}
.Terraza .seccion3 .contentLetf{display: flex;flex-direction: column;}
.Terraza .seccion3 .contentRigth{display: flex;flex-direction: column;}
.Terraza .seccion3 .contentIngediente{width: 90%}
.Terraza .seccion3 .contentIngediente.down{margin-top: 0px;}
.Terraza .seccion3 .contentIngediente.down.levadura{margin-top: 20px;}
.Terraza .verVariedades{width: 90%;margin: 0px auto;text-align: center;font-size: 10px;}
.Terraza .contentIngediente img.iconIngrediente{width: 50px}
.Terraza .contentIngediente img.iconIngrediente.lupulo{width: 40px}
.Terraza .contentIngediente .contentTitulo img.vineta{ width: 30px;height: 10px;padding: 0px 0px;margin: 10px 10px;}
.Terraza .contentIngediente h3{ line-height: 30px;margin: 0px 0px;font-size: 15px;}
.Terraza .contentIngediente p{font-size: 10px;line-height: 13px;}
.Terraza img.Botella{width: 30%;}
.Terraza .seccion3 .tanque.Right{bottom: 130px}
.Terraza .seccion4{padding-top: 40px;padding-bottom: 40px;}
.Terraza .seccion4 ul.col2 {display: flex;flex-direction: column-reverse;}
.Terraza .seccion4 ul.col2 li {width: 100%;}
.Terraza .seccion4 .contentTours{margin-top: 40px}
.Terraza .seccion4 p:nth-child(1){font-size: 40px}
.Terraza .seccion4 span{font-size: 15px}
.Terraza .seccion4 p.goldText{font-size: 40px}
.Terraza .seccion4 p{font-size: 13px;line-height: 18px;}
.Terraza .seccion4 .contentProceso.Up{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .contentProceso.Down{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .contentTours .ReservarTour{width: 60%;padding: 5px;}
.Terraza .seccion4 .lineDown{width: 90%;margin: 0px auto;}
.Terraza .seccion5 .titleTequila{transform: translate(-50%,-50%);}
.Terraza .seccion5 .titleTequila h1{font-size: 20px;margin-bottom: 0px;}
.Terraza .seccion5 .titleTequila p{font-size: 10px;line-height: 11px}
.Terraza .seccion5 .Tequilaline.Up{top: -16px}
.Terraza .seccion5 .Tequilaline.Down{bottom: -16px;}
.Terraza .seccion5 .TequilaBG .mapa.activo{height: 180px;  clip-path: polygon(50% 0%, 0% 10%, 0% 90%, 52% 100%, 100% 90%, 100% 10%);}
.Terraza .seccion6 {margin-bottom: 100px}
.Terraza .seccion5 .titleTequila p.verMapa{color: #000;bottom: -30px}
.Terraza .seccion6 .contendorInstagram li{width: 100%;height: 550px}
}

@media screen and (min-width: 502px) and (max-width: 669px) {
  .contenedor { width: 95%; }
    ul{margin-left: 0px;}
   .Terraza .seccion1 .primer_lista{display: flex;flex-direction: column;margin-left: 0px;}
   .Terraza .seccion1 .primer_lista li:nth-child(2){width: 100%;order: -1;}
   .Terraza .seccion1 .primer_lista li:nth-child(1){width: 100%;order: +1}
   .Terraza .seccion1 .ContainerLeft{margin-bottom: 90px;}
   .Terraza .seccion1 .ContainerLeft .btnReserva{margin: 0px auto;margin-left: inherit;bottom: 100px;}
   .Terraza .seccion1 .ContainetTitle{left: 0px;width: 100%;color: #fff;background-color: rgba(0,0,0,0.4);padding: 10px;letter-spacing:6px;}
   .Terraza .seccion1 .ContainetTitle p:nth-child(2){margin: 5px auto;margin-left:0px;width: 100%;}
   .Terraza .seccion1 .ContainetTitle p{font-size: 10vw}
  .Terraza .seccion2 .bgContentBeer .tituloBeer{width: 90%;text-align: center;transform: translateY(-50%)translateX(-50%);left: 50%}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 7vw;text-align: center;padding: 4px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen{font-size: 7vw;text-align: center;margin-left: 0px;margin-top: 5px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer{margin: 0px auto;margin-top: 10px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p{font-size: 2vw;line-height: 19px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .span{text-align: center;margin: 0px auto;line-height: 17px;}
.Terraza .seccion1 .TerrazaImg01{width: 80%;margin: 0px auto;}
.Terraza .seccion3{padding-top: 200px}
.Terraza .seccion3 ul li{width: 100%}
.Terraza .seccion3 .contentLetf{display: flex;flex-direction: row;}
.Terraza .seccion3 .contentRigth{display: flex;flex-direction: row;}
.Terraza .seccion3 .contentIngediente{width: 50%}
.Terraza .seccion3 .contentIngediente.down{margin-top: 0px;}
.Terraza .seccion3 .contentIngediente.down.levadura{margin-top: 20px;}
.Terraza .verVariedades{width: 30%;}
.Terraza .contentIngediente img.iconIngrediente{width: 80px}
.Terraza .contentIngediente img.iconIngrediente.lupulo{width: 48px}
.Terraza .contentIngediente .contentTitulo img.vineta{ width: 50px;height: 16px;padding: 0px 0px;margin: 10px 10px;}
.Terraza .contentIngediente h3{ line-height: 34px;margin: 0px 0px;}
.Terraza .contentIngediente p{font-size: 13px;}
.Terraza img.Botella{width: 30%;}
.Terraza .seccion3 .tanque.Right{bottom: 130px}
.Terraza .seccion4{padding-top: 40px;padding-bottom: 40px;}
.Terraza .seccion4 ul.col2 {display: flex;flex-direction: column-reverse;}
.Terraza .seccion4 ul.col2 li {width: 100%;}
.Terraza .seccion4 .contentTours{margin-top: 40px}
.Terraza .seccion4 p:nth-child(1){font-size: 40px}
.Terraza .seccion4 span{font-size: 15px}
.Terraza .seccion4 p.goldText{font-size: 40px}
.Terraza .seccion4 p{font-size: 13px;line-height: 18px;}
.Terraza .seccion4 .contentProceso.Up{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .contentProceso.Down{width: 90%;margin: 0px auto;}
.Terraza .seccion4 .lineDown{width: 90%;margin: 0px auto;}
.Terraza .seccion5 .titleTequila{transform: translate(-50%,-50%);}
.Terraza .seccion5 .titleTequila h1{font-size: 30px;margin-bottom: 0px;}
.Terraza .seccion5 .titleTequila p{font-size: 13px;line-height: 20px}
.Terraza .seccion5 .Tequilaline.Up{top: -25px}
.Terraza .seccion5 .Tequilaline.Down{bottom: -25px;}
.Terraza .seccion6 {margin-bottom: 100px}
.Terraza .seccion6 .contendorInstagram li{width: 100%;height: 550px}
}

@media screen and (min-width: 670px) and (max-width: 770px) {
   .contenedor { width: 95%; }
  .Terraza .BarraFortuna{height: 310px;width: 50%;}
  .Terraza .seccion1 .primer_lista li:nth-child(1){width: 30%}
  .Terraza .seccion1 .ContainetTitle{left: -40%;}
  .Terraza .seccion1 .ContainetTitle p{font-size: 10vw;}
  .Terraza .seccion1 .TerrazaImg01{ margin: 0px 20px 0px auto;}
  .Terraza .seccion1 .ContainerLeft .btnReserva{width: 160px;padding: 0px 0px 0px 15px;margin-left: -30px}
  .Terraza .seccion1 .ContainerLeft  .btnReserva:hover {box-shadow: inset 160px 0 0 0 #8B191D;}
  .Terraza .seccion1 .ContainerLeft .btnReserva i{margin-left: 60px;margin-top: 7px; }

   .Terraza .seccion1 .ContainerLeft .btnReserva p{margin: 0px;font-size: 15px}
   .Terraza .seccion2 .bgContentBeer .tituloBeer{width: 90%;text-align: center;transform: translateY(-50%)translateX(-50%);left: 50%}
   .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 8vw;text-align: center;}

   .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen{font-size: 8vw;text-align: center;margin-left: 0px}

   .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer{margin: 0px auto;margin-top: 30px}

   .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p{font-size: 2.5vw;line-height: 19px}

   .Terraza .seccion2 .bgContentBeer .tituloBeer .span{text-align: center;margin: 0px auto;}

   .Terraza .contentIngediente .contentTitulo{margin-top: 20px;margin-bottom: 10px;}
 .Terraza .contentIngediente img.iconIngrediente{width: 70px}
 .Terraza .contentIngediente img.iconIngrediente.lupulo{width: 60px;}
   .Terraza .contentIngediente .contentTitulo img.vineta{padding: 0px;height: 10px;width: 40px;margin-top: 10px}
   .Terraza .contentIngediente h3{font-size: 20px;margin: 0px auto;}
   .Terraza .contentIngediente p{font-size: 11px}
   .Terraza img.Botella{width: 50%;}
   .Terraza .seccion4 p:nth-child(1){font-size: 50px}
   .Terraza .seccion4 span{font-size: 20px}
   .Terraza .seccion4 p.goldText{font-size: 50px}
   .Terraza .seccion4 p{font-size: 15px;line-height: 20px}
   .Terraza .seccion5 .Tequilaline.Up{top: -40px}
 .Terraza .seccion5 .Tequilaline.Down{bottom: -40px}
 .Terraza .seccion5 .titleTequila h1{font-size: 50px;margin: 0px;}
 .Terraza .seccion5 .titleTequila p{font-size: 15px}
 .Terraza .seccion5 .titleTequila p.verMapa{bottom: -20px}
 .Terraza .seccion5 .titleTequila{transform: translate(-50%,-50%)}
 .Terraza .seccion6 #InstagramCard{transform: scale(.5);}
 .Terraza .seccion6 .contendorInstagram{margin-top: -30px}
}

@media screen and (min-width: 771px) and (max-width: 1023px) {
	.contenedor { width: 95%; }
  .Slider .seccion1 .logo-animado{transform: scale(.5) translateY(50%);}
  .Slider .seccion1 .redesSociales .LineUp{display: none;}
   .Terraza .seccion1 .ContainetTitle{left: -42%;}
   .Terraza .seccion1 .ContainetTitle p{font-size: 10vw;}
  /* .Terraza .seccion1 .ContainetTitle p:nth-child(2){margin-right: -105px;} */
  .Terraza .seccion2 .bgContentBeer .tituloBeer{width: 430px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 50px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen{font-size: 50px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p{font-size: 12px}
  .Terraza .contentIngediente .contentTitulo{margin-top: 20px;margin-bottom: 10px;}
.Terraza .contentIngediente img.iconIngrediente{width: 70px}
.Terraza .contentIngediente img.iconIngrediente.lupulo{width: 60px;}
  .Terraza .contentIngediente .contentTitulo img.vineta{padding: 0px;height: 10px;width: 40px;margin-top: 10px}
  .Terraza .contentIngediente h3{font-size: 20px;margin: 0px auto;}
  .Terraza .contentIngediente p{font-size: 11px}
  .Terraza img.Botella{width: 40%;}
  .Terraza .seccion4 p:nth-child(1){font-size: 50px}
  .Terraza .seccion4 span{font-size: 20px}
  .Terraza .seccion4 p.goldText{font-size: 50px}
  .Terraza .seccion4 p{font-size: 15px;line-height: 20px}
  .Terraza .seccion5 .Tequilaline.Up{top: -40px}
.Terraza .seccion5 .Tequilaline.Down{bottom: -40px}
.Terraza .seccion5 .titleTequila h1{font-size: 50px;margin: 0px;}
.Terraza .seccion5 .titleTequila p{font-size: 15px}
.Terraza .seccion5 .titleTequila p.verMapa{bottom: -20px}
.Terraza .seccion5 .titleTequila{transform: translate(-50%,-50%)}
.Terraza .seccion6 #InstagramCard{transform: scale(.6);}
.Terraza .seccion6 .contendorInstagram{margin-top: -30px}
}

/***********Mac emmanuel 1280************/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
	.contenedor { width: 1000px; }

}

@media screen and (min-width: 1440px) and (max-width: 1840px){
  .contenedor { width: 90%; }
  .Terraza #BarraFortuna{width: 900px}

   .Terraza .seccion1 .ContainetTitle{left: -45%;}
   .Terraza .seccion1 .ContainetTitle p{font-size: 10vw;}
   .Terraza .seccion1 .TerrazaImg01{width: 65%;}
   .Terraza .seccion2 .bgContentBeer{position: relative;top: -40px;}
   .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 80px}
   .Terraza .seccion2 .bgContentBeer .tituloBeer .span {line-height: 55px;font-size: 20px;}
   .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen {font-size: 80px;margin-left: 200px;}
   .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p {font-size: 15px;}
    .Terraza img.Botella{width: 30%}
    .Terraza .seccion5 .Tequilaline.Up{top: -80px}
    .Terraza .seccion5 .Tequilaline.Down{bottom: -80px}
}


@media screen and (min-width: 1841px) and (max-width: 2240px){
  .contenedor { width: 85%; }
  .Terraza #BarraFortuna{width: 1000px}

  .Terraza .seccion1 .ContainetTitle{left: -45%;}
  .Terraza .seccion1 .ContainetTitle p{font-size: 10vw;}
  .Terraza .seccion1 .TerrazaImg01{width: 65%;}
  .Terraza .seccion2 .bgContentBeer{position: relative;top: -40px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 80px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .span {line-height: 55px;font-size: 20px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen {font-size: 80px;margin-left: 200px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p {font-size: 15px;}
   .Terraza img.Botella{width: 40%}
   .Terraza .seccion5 .Tequilaline.Up{top: -80px}
   .Terraza .seccion5 .Tequilaline.Down{bottom: -80px}
  .Terraza .seccion4 .contentProceso.Up{width: 80%;margin: 0px auto;}
  .Terraza .seccion4 .contentProceso.Down{width: 80%;margin: 0px auto;}
  .Terraza .seccion5 .TequilaBG .mapa.activo{height: 460px}

}
@media (min-width: 2241px){
  .contenedor { width: 85%; }
  .Terraza #BarraFortuna{width: 1200px}
  .Terraza .seccion1 .ContainetTitle{left: -35%;}
  .Terraza .seccion1 .ContainetTitle p{font-size: 8vw;}
  .Terraza .seccion1 .TerrazaImg01{width: 65%;}
  .Terraza .seccion1 .ContainerLeft{height: 790px;width: 80%}
  .Terraza .seccion1 .ContainerLeft .btnReserva{margin-left: -80px;left: 30%;bottom: 50px}
  .Terraza .seccion2 .bgContentBeer{position: relative;top: -40px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p:nth-child(1){font-size: 130px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .span {line-height: 140px;font-size:40px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer p.titleGreen {font-size: 130px;margin-left: 200px;}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer {margin-top: 50px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer .descriptionBeer p {font-size: 25px;font-weight: 500}
  .Terraza img.Botella{width: 35%}
  .Terraza .contentIngediente img.iconIngrediente{width: 170px}
  .Terraza .contentIngediente img.iconIngrediente.lupulo{width: 130px;}
  .Terraza .contentIngediente .contentTitulo img.vineta{width: 120px;padding: 30px 0px}
  .Terraza .contentIngediente h3{font-size: 30px}
  .Terraza .contentIngediente p{font-size: 25px;line-height: 28px;}
  .Terraza .seccion4{padding-top: 290px}
  .Terraza .seccion4 .contentProceso.Up{width: 80%;margin: 0px auto;}
  .Terraza .seccion4 .contentProceso.Down{width: 80%;margin: 0px auto;}
  .Terraza .seccion4 .lineDown {width: 80%;margin: 0px auto;}
  .Terraza .seccion4 p{line-height: 45px;}
  .Terraza .seccion5 .Tequilaline.Up{top: -100px}
  .Terraza .seccion5 .Tequilaline.Down{bottom: -100px}
  .Terraza .seccion5 .TequilaBG .mapa.activo{height: 460px}
  .Terraza .seccion6 #InstagramCard{transform: none;}
  .Terraza .seccion6 .contendorInstagram{margin-top: 90px}
  .Terraza .seccion2 .bgContentBeer .tituloBeer{margin-left: 80}
}



::-webkit-scrollbar
{
    width: 0.5vw;  /* for vertical scrollbars */
    height: 0.5vw; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}
